.carrusel {
  width: 90%;
  align-items: center;
  background-color: rgb(233, 233, 233);
  font-size: 20px;
  height: 500px;
  color: #353535;
  text-align: center;
  padding-top: 250px;
}

.contenedor-recomendados {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}


.galeria-libros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  justify-content: space-between;
}


.item-libro {
  flex: 1 1 calc(20% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  transition: transform 0.3s ease;
}



@media (min-width: 1200px) {
  .item-libro {
    flex: 1 1 calc(20% - 20px);
  }
}


@media (max-width: 1199px) {
  .item-libro {
    flex: 1 1 calc(25% - 20px);
  }
}


@media (max-width: 992px) {
  .item-libro {
    flex: 1 1 calc(33% - 20px);
  }
}


@media (max-width: 768px) {
  .item-libro {
    flex: 1 1 calc(50% - 20px);
  }
}


@media (max-width: 576px) {
  .item-libro {
    flex: 1 1 100%;
  }
}


.item-libro:hover {
  transform: scale(1.05);
}

.imagen-libro {
  width: 100%;
  height: 310px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
  margin: 0;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-libro {
  padding: 10px;
  color: #353535;
  margin: 0;
}

.info-libro h3 {
  font-size: 15px;
  font-family: inherit;
  margin-top: 0;
  margin-bottom: 5px;
}

.agregar-favoritos {
  background-color: transparent;
  border: 1px solid #00bce4;
  color: #00bce4;
  font-size: 16px;
  border-radius: 5px;
  align-items: center;
  padding: 8px 20px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  text-align: center;

}

.agregar-favoritos:hover {
  background-color: #00bce4;
  color: #fff;
}

.agregar-favoritos:active {
  background-color: #00bce4;
}

.ver-mas {
  background: none;
  border: none;
  font-size: 16px;
  color: #464646;
  cursor: pointer;
  padding: 5px 0;
}

.ver-mas:hover {
  color: #00bce4;
}


.section-icons {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: visible;

}


.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.pagina {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.pagina .footer-pagina {
  width: calc(20% - 30px);
  margin: 0 15px 50px;
  padding: 0 12px;
}

.pagina .footer-pagina:nth-child(1) {
  width: calc(40% - 50px);
  margin-right: 15px;
}

.pagina .footer-pagina .logo {
  margin-bottom: 30px;
  vertical-align: middle;
}

.pagina .footer-pagina p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
}

.pagina .footer-pagina .sociales {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pagina .footer-pagina .sociales li {
  list-style: none;
}

.pagina .footer-pagina .sociales li a {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  color: #ffffff;
  background-color: rgba(3, 127, 243, 0.5);
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.pagina .footer-pagina .sociales li a:hover {
  background-color: #037ef3;
}

.pagina .footer-pagina h6 {
  color: #585978;
  margin: 10px 0 35px;
  font-size: 20px;
  font-weight: 600;
}

.pagina .footer-pagina .links li {
  list-style: none;
}

.pagina .footer-pagina .links li a {
  color: #585978;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 32px;
  transition: all 0.3s ease-out;
}

.pagina .footer-pagina .links li a:hover {
  color: #037ef3;
}

.copia-pagina {
  padding: 20px 0;
  border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copia-pagina p {
  color: rgba(88, 89, 120, 0.6);
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.copia-pagina p a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.copia-pagina p a:hover {
  color: #037ef3;
}

/* responsive*/
@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .pagina .footer-pagina,
  .pagina .footer-pagina:nth-child(1) {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .pagina .footer-pagina,
  .pagina .footer-pagina:nth-child(1) {
    width: 100%;
    margin: 0 10px 50px;
  }
}