<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/resgitroObrasVanesa.css}"
    />
  </head>
  <body> 
     <div class="header" th:replace="~{fragments/header :: header}" ></div>

    <main>
      <div class="contenedor-obras-registradas">
        <h2>Registra tu libro Aqui</h2>
        <h3>Datos del libro a publicar</h3>

        <div>
          <label for="obras">Elija una opción:</label>
          <select id="obras" name="obras">
            <option value="Libros">Libros</option>
            <option value="Revistas">Revistas</option>
            <option value="Artículos">Artículos</option>
            <option value="Investigación">Investigación</option>
            <option value="Novelas">Novelas</option>
            <option value="Cuentos">Cuentos</option>
            <option value="Ensayos">Ensayos</option>
            <br />
          </select>
        </div>

        <div>
          <label for="name">Titulo de la Obra: </label>
          <input
            type="text"
            id="name"
            name="name"
            required
            placeholder="Ingrese titulo de la Obra"
          />
        </div>

        <div>
          <label for="name">Descripcion: </label>
          <input
            type="text"
            id="name"
            name="name"
            required
            placeholder="Escribe una descripcion de la Obra"
          />
        </div>

        <div>
          <label for="pdf-upload">Selecciona un archivo PDF:</label>
          <label for="pdf-upload" class="custom-file-upload"
            >Seleccionar archivo
          </label>
          <input
            type="file"
            id="pdf-upload"
            name="pdf-upload"
            accept="application/pdf"
            style="display: none"
          />
        </div>

        <div>
          <label for="image-upload">Seleccione imagen:</label>
          <label for="image-upload" class="custom-file-upload"
            >Seleccionar imagen
          </label>
          <input
            type="file"
            id="image-upload"
            name="image-upload"
            accept="image/*"
            style="display: none"
          />
        </div>

        <div>
          <button type="submit" class="boton-enviar">Enviar</button>
        </div>
      </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
  </body>
</html>
