<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <script src="https://kit.fontawesome.com/b408879b64.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/EstiloContactanos.css}" />



</head>

<body>

    <div class="header" th:replace="~{fragments/header :: header}"></div>


    <div class="container">
        <div class="box-info">
            <h1>CONTÁCTA CON NOSOTROS</h1>
            <div class="data">
                <p><i class="fa-solid fa-phone"></i> +51 999 999 999</p>
                <p><i class="fa-solid fa-envelope"></i> estudiantes@utp.edu.pe</p>
                <p><i class="fa-solid fa-location-dot"></i> Av . El Sol SN</p>
            </div>
            <div class="links">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
        <form th:action="@{/guardar-contacto}" method="post" th:object="${contacto}">
            <div class="input-box">
                <input type="text" placeholder="Nombre y apellido" required th:field="*{nombre}">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
                <input type="email" required placeholder="Correo electrónico" th:field="*{correo}" >
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Numero Contacto" th:field="*{numero}">
                <i class="fa-solid fa-phone"></i>
            </div>
            <div class="input-box">
                <textarea placeholder="Escribe tu mensaje..." th:field="*{mensaje}" ></textarea>
            </div>
            <button type="submit">Enviar mensaje</button>
        </form>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>




</body>

</html>